:root {
  --outline-offset: 2px;
  --checked-state-bg-color: hsl(0, 3%, 8%);
  --outline-color: var(--checked-state-bg-color);
}

.main {
  height: 32px;
  width: 100%;
  max-width: 768px;
  font-size: 1.4rem;
}
.field {
  margin: 0.5rem 0;
}

.button,
.result {
  margin-top: 1rem;
}
